<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Answer Corona Survey</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<h1>All done.</h1>
	</body>
</html>
