<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Answer Corona Survey</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="../style.css" />
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<h1>All done.</h1>
	</body>
</html>
